<h1>Pietro Maia Fernandes</h1>
<p>Salto - SP</p>
<a href="https://github.com/pie-tro" target="_blank">Meu GitHub</a>

<p>________________________________________</p>

<h2>Objetivos</h2>
<p>Atuar como desenvolvedor backend, onde possa aplicar meus conhecimentos da linguagem Java. Estou comprometido com
  <br> boas práticas
de código, otimização de desempenho e colaboração em equipe para entregar sistemas de alta qualidade.</p>

<p>________________________________________</p>

<h2>Formação Acadêmica</h2>
<h3>FATEC</h3>
<p>Curso de Análise e Desenvolvimentos de Sistemas /<br> Fev/2024 - Dez/2026 (Previsão de Conclusão</p>

<p>________________________________________</p>

<h2>Projetos Acadêmicos e Pessoais</h2>
<ul>
  <li>
    <strong>Desenvolvimento de Banco de Dados em Access</strong>
    <ul>
      <li>Sistema para controle de empresas de pequeno porte, semelhante a um ERP, com funcionalidades CRUD e uso de relações de chaves primárias e prototipação com DER.</li>
      <li><strong>Tecnologias:</strong> Access, MySQL, BrModelos</li>
      <li><strong>Resultados:</strong> Programa funcional com aplicação prática para banco de dados e ERP.</li>
    </ul>
  </li>

  <li>
    <strong>Projeto de Desenvolvimento usando Engenharia de Software</strong>
    <ul>
      <li>Projeto completo seguindo metodologias de Engenharia de Software, com etapas como solicitação do software, entrevistas, análise de situação atual, prototipação, planejamento, entrega e feedback.</li>
      <li><strong>Ferramentas Utilizadas:</strong> Word, Excel, Access</li>
      <li><strong>Relevância:</strong> Baseado em práticas empresariais, aplicando fundamentos de Engenharia de Software.</li>
    </ul>
  </li>
</ul>
